<h2> Discount Description </h2>
<br>
    <h4>Item Requirement: <%= @discount.item_requirement %></h4>
    <h4>Discount Percent <%= @discount.format_percent%>%</h4><br>


<header>
<ul>
<p> <%= link_to "Edit this Discount", edit_merchant_discount_path(@merchant.id, @discount.id) %> </p>

<p> <%= link_to "Back to Discount Page", "/merchant/#{@merchant.id}/discounts" %> </p>
 </head><br>

